@font-face{
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('Prequel'), url('Prequel.ttf') format('ttf')


}

h1 {
	font-family: 'Prequel';
	font-weight: 200;
	color: black;
}


input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

#card {
padding: 1.5rem;
}

.forecasts {
  display:flex;
  flex-direction: row;
}

.forecastItem{
  border: 5px solid;
  padding: 0.5rem;
  margin: 1.5rem;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: fixed;
  left: 39%;

}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
